/ {
    behaviors {
        hyper: mod_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp NO>;
            mods = <(MOD_LCTL | MOD_LSFT | MOD_LALT | MOD_LGUI)>;
        };
        &mt {
                tapping-term-ms = <200>; 
                quick-tap-ms = <0>;
                flavor = "tap-preferred";
        };
    };
};